################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CCOF.Infrastructure.WebAPI/bin/Debug/
/CCOF.Infrastructure.WebAPI/obj
/.vs

# configuration files
appsettings.json
/CCOF.Infrastructure.WebAPI/appsettings.Development.json