.dnl-first-select{
    width: 40%;
    border: none;
    appearance: none;
    height: 35px;
    padding: 5px;
    font-weight: 600;
    font-family: "Segoe UI";
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0px;
    border-style: none;
    padding: 0 var(--spacingHorizontalXXS);
    color: var(--colorNeutralForeground1);
    background-color: transparent;
}

.dnl-second-select{
    width: 60%;
    border:none;
    appearance: none;
    height: 35px;
    padding: 5px;
    font-weight: 600;
    font-family: "Segoe UI";
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0px;
    border-style: none;
    padding: 0 var(--spacingHorizontalXXS);
    color: var(--colorNeutralForeground1);
    background-color: transparent;
}

.dnl-first-select:hover, .dnl-second-select:hover{
    border: 1px solid rgb(133, 133, 133);
    appearance: auto;
    border-style: none;
     background-color: transparent;
}